//_variables.scss: For colors and fonts

//body
$primary-bk-color: #434542;
$primary-color: #d1cfb5;
$primary-font: "Roboto", sans-serif;

//h5 header color
$header-bk-color: #8be2f3;
$header-color: #434542;

//quote
/* $font-quote: "La Belle Aurore", cursive; */
$font-quote: "Cardo", sans-serif;

//main button
$button-bk-color: transparent;
$button-color: whitesmoke;
$button-font: "Montserrat", sans-serif;

//resume section

//side navbar menu
$heading-bk-color: #434542;
    //li
    $li-bk-color: #d1cfb5;
    $li-color: #434542;
    $li-font-family: "Roboto", sans-serif;